;该文件是用来配置平台ip,port,账密

; 平台连接信息
[front_info]
; MDFront
;Address = 172.19.13.41
; forwarded by devops
;Address = 172.30.1.187
;Port = 51223
; 仿真交易
;Address = 180.166.6.242
;Port = 41205
; 次席交易
;Address = 180.166.6.245
Address = 101.230.73.1
Port = 51205
IsFens = 

; 平台登录信息
[login_info]
; 接入商代码
BrokerID = 5100
;BrokerID = 0121
; 交易用户代码
UserID = 000006
;UserID = 666666
; 密码
Password = 123456
;Password = 147258

AppID = 
AuthCode = 
